<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-between">
            <% if (filters) { %>
            <div class="add-block mt-4 w-75 text-left">
                Filters:
                <button class="btn btn-light filter" data="">All</button>
                <% for (let i = 0; i < filters.length; i++) { %>
                <button class="btn btn-light filter" data="<%= filters[i].type %>"><%= filters[i].type.charAt(0).toUpperCase() + filters[i].type.slice(1) %></button>
                <% } %>
                <!-- <button class="btn btn-light filter w-33" data="button">Button</button>
                <button class="btn btn-light filter w-33" data="text">Text</button>
                <button class="btn btn-light filter w-33" data="pagination">Pagination</button>
                <button class="btn btn-light filter w-33" data="json">JSON</button>
                <button class="btn btn-light filter w-33" data="error">Errors</button> -->
            </div>
            <div class="search-form input-group input-group-sm mt-4 mb-5 w-25">
                <input type="text" class="search form-control" placeholder="Search">
            </div>
            <% } else { %>
            <div class="search-form input-group input-group-sm mt-4 mb-5 w-25" style="margin-left: 75%;">
                <input type="text" class="search form-control" placeholder="Search">
            </div>
            <% } %>
        </div>
        <div class="row mb-3 mt-3 text-center">
            <% for (let i = 0; i < cols.length; i++) { %>
            <div class="col">
                <%= cols[i] %>
            </div>
            <% } %>
            <div class="col-1"><!-- Need for btn column --></div>
        </div>
        <div class="blocks">
        </div>
        <div class="col-11 add-block text-justify mt-4">
            <button class="btn btn-primary add w-100"><i class="fas fa-plus"></i></button>
        </div>
        <!-- All pages block -->
        <div class="pages col-11 mt-5 text-center">
            <a href="/categories" class="btn btn-light">Categories</a>
            <a href="/countries" class="btn btn-light">Countries</a>
            <a href="/cities" class="btn btn-light">Cities</a>
            <a href="/posts" class="btn btn-light">Posts</a>
            <% if (username == 'admin') { %>
            <a href="/text" class="btn btn-light">Texts</a>
            <a href="/state" class="btn btn-light">States</a>
            <% } %>
        </div>
    </div>
    <script type="module" src="/js/template.js"></script>
    <script type="module" src="<%= src %>"></script>
</body>
</html>
